<!-- templates/profile_edit.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>혜성과학 조교 관리</title>
    <link rel="stylesheet" href="../../static/css/profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="../../static/js/addAssistant.js" defer></script>
  </head>
  <body>
    <header>
      <button id="home-button" onclick="window.location.href='/'">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-left"
        >
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
      </button>
      <h1>
        조교 추가
        <span id="admin-badge" class="admin-badge hidden">관리자 보기</span>
      </h1>
    </header>
    <div class="container">
      <div id="error-container" class="error-message hidden"></div>
      <div id="success-container" class="success-message hidden"></div>

      <form id="profile-form">
        <div class="form-group">
          <label for="name">이름</label>
          <input type="text" id="name" />
        </div>
        <div class="form-group">
          <label for="phone-number">전화번호</label>
          <input type="text" id="phone-number" />
        </div>
        <div class="form-group" id="subject-group">
          <label for="subject">담당 과목</label>
          <div id="subject">
            <label>
              <input type="radio" name="subject" value="화학" />
              화학
            </label>
            <label>
              <input type="radio" name="subject" value="생명" />
              생명
            </label>
            <label>
              <input type="radio" name="subject" value="지학" />
              지학
            </label>
          </div>
        </div>
        <div class="form-group" id="bank-account-group">
          <label for="bank-account">은행 계좌</label>
          <input type="text" id="bank-account" />
        </div>
        <div class="form-group" id="salary-group">
          <label for="salary">급여</label>
          <input type="number" id="salary" />
        </div>
        <div class="form-group">
          <label for="password">새 비밀번호</label>
          <input
            type="password"
            id="password"
            placeholder="새 비밀번호를 입력하세요"
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">비밀번호 확인</label>
          <input
            type="password"
            id="confirm-password"
            placeholder="비밀번호를 다시 입력하세요"
          />
        </div>
        <div class="form-group">
          <label for="admin">관리자</label>
          <input type="checkbox" id="is-admin" />
        </div>
        <button type="submit">추가하기</button>
      </form>
    </div>
  </body>
</html>
